.login button {
  width: 100%;
  margin-top: 15px;
  background: rgb(255, 255, 255);

  border: none;
  height: 50px;
  color: rgb(109, 109, 109);
  box-shadow: 3px 5px 9px #888888;
}

.login button:hover {
  background-color: rgba(199, 199, 199, 0.213);
}

.e {
  color: rgb(111, 111, 111);
  padding-top: 50px;
}

.util button {
  background: transparent !important;
  border: none;
  color: #434343;
}

.reset {
  color: #484848;
  font-size: 12px;
  text-align: center;
}
